.nav-container{
    display: flex;
    justify-content: center;
}
.navigation{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 10px;  
    background: rgb(230, 230, 230);
    border:1px solid #ddd;
    border-radius:8px;
    margin-top: 15px;

}
.navigation a{
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 14px 18px;
    text-decoration: none;
    color:#333;
    border-radius:8px;
    margin:3px;
    transition:0.2s;
}
.navigation svg{
    min-width:24px;
    min-height:24px;
    fill:currentColor;
}
.navigation a:hover{
    background:#e8f3ff;
    color:#564aff;
} 