.sidebar{
    box-sizing:border-box;
    position:sticky;
    top:10px;
    width:95px;
    height:calc(100vh - 20px);
    margin:10px;
    padding:10px;
    background:hsla(0, 0%, 0%, 0.068);
    border-radius:8px;
    border-right:5px solid #7c7b7b;
    overflow:hidden;
    transition:300ms ease;
    flex-shrink:0;
}

@media (hover:hover){
    .sidebar:hover{
        width:250px;
    }
}
.sidebar span{ display:none; }
@media (hover: hover){

    .sidebar:hover span{display:inline;}

}
.sidebar.open span{
    display:inline;
}

.sidebar.open{
    width:250px;
}


.sidebar ul{
    list-style:none;
    padding:0;
    margin:0;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.sidebar li:first-child{
    display:flex;
    justify-content:flex-end;
    margin-bottom:20px;
}

#toggle-btn{
    width:45px;
    height:45px;
    border:none;
    background:none;
    border-radius:8px;
    cursor:pointer;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-right:10px;
}

#toggle-btn:hover{
    background:#ddd;
}

#toggle-btn svg{
    transition:.3s;
}

.sidebar.collapsed #toggle-btn svg{
    transform:rotate(180deg);
}

.sidebar a{
    display:flex;
    align-items:center;
    gap:15px;
    padding:14px 18px;
    margin:8px;
    border-radius:8px;
    text-decoration:none;
    color:#333;
    transition:.2s;
}

.sidebar a:hover{
    background:#d9d9d9;
    .sidebar{
        width:250;
    }
}

.sidebar_dash-dashboard,.sidebar_add-add_task,.sidebar_comp-completed_tasks,.sidebar_statics-statics{
    background:#e8f3ff;
    font-weight:bold;
}

.sidebar .add{
    color:#a70000;
}

.sidebar svg{
    min-width:24px;
    min-height:24px;
    fill:currentColor;
}

.sidebar span{
    white-space:nowrap;
}

.sidebar.collapsed span{
    display:none;
}

.sidebar.collapsed a{
    justify-content:center;
}
.logout{
    margin-top: auto;
}
.profile {
    margin-top: auto;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 14px 18px;
    margin: 8px;
    border-radius: 8px;
    color: #333;
    transition: .2s;
    cursor: default;
}

.profile:hover {
    background: #d9d9d9;
}
li.bottom-item:first-of-type,li.profile{
    margin-top: auto;
}
.app-title {
    margin-right:auto;
    margin-top:12px;
    font-weight: 700;
    font-size: 1.1rem;
    color: #000000b0;
    letter-spacing: -0.5px;
}