.content{
        display:flex;
        min-height:100vh;
    }
    .statics{
        flex:1;
        display: flex;
        flex-direction: column;
        padding:20px
    }
    .statics-container{
        display:flex;
        flex-wrap: wrap;
        gap:20px;
        height: auto;
        margin-bottom: 30px;
    }
    .static-item{
        flex:1 1 250px;
        min-height: 120px;
        background:hsla(0, 0%, 0%, 0.2);
        border:1px solid #2d2645;
        border-radius:8px;
        padding:20px;
        transition:.2s ease;
    }
    .static-item:hover, .chart-container:hover{
        transform:translateY(-2px);
    }
    .stat-title{
        display:block;
        color:#8d88a7;
        font-size:20px;
        font-weight:600;
        margin-bottom:5px;
        text-transform:uppercase;
    }
    .static-item h2{
    margin:0;
    color:white;
    font-size:20px;
    font-weight:700;
    }
    .charts-container{
        display:flex;
        flex-wrap: wrap;
        flex-grow: 1;
        padding: 10px;
        gap: 20px;
    }
    .chart-container{
        background-color: hsla(0, 0%, 0%, 0.2);
        border-radius: 8px;
        border:1px solid #2d2645;
        width : fit-content;
        height: fit-content;
        padding:20px;
        transition:.2s ease;

    }
    #categoryPieChart{
    max-width:500px;
    max-height:500px;
    margin:auto;
    }