{% extends "layout.html" %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/add_task.css') }}">
{% endblock head %}

{% block content %}

<div class="add-task">

    {% block sidebar %} {{ super() }} {% endblock %}

    <main class="content">
             <h1>{{title}}</h1>

        <form class="add-card" action="{{ submit_url }}" method="POST" id="task-card">

            <label>Task</label>

            <input type="text" name="task" placeholder="Enter your task" required>

            <label>Category</label>

            <input type="text" name="category" placeholder="Work, Travel, Health... (or nothing)" >

            <label>Priority</label>

            <select name="priority" id="priority">

                <option value="High">🔴 High</option>
                <option value="Medium">🟠 Medium</option>
                <option value="Low">🟢 Low</option>

            </select>

            <label>Due date</label>

            <input type="date" name="due_date">

            <button type="submit">Add Task</button>

        </form>

    </main>

</div>

<script>

const priority = document.getElementById("priority");
const card = document.getElementById("task-card");

priority.addEventListener("change", function(){

    card.classList.remove("high", "medium", "low");

    if(priority.value === "High"){
        card.classList.add("high");
    }
    else if(priority.value === "Medium"){
        card.classList.add("medium");
    }
    else{
        card.classList.add("low");
    }

});

</script>
{% block sidebar_script %} {{super()}} {% endblock %}
{% endblock %}