{% extends "layout.html" %}
{% block head %}

<style>
     .main-container{
       margin:0;
       min-height:70vh;
       display:flex;
       justify-content:center;
       align-items:center;
       font-family:Arial, Helvetica, sans-serif;
       background:#ffffff;
     }
     .main{
       text-align: center;
     }
     #signing_container {
        display:flex; 
        justify-content: center; 
        align-items:center; 
        flex-direction:column; 
        gap: 10px;
     }
      h1,h2{
            text-align:center;
     }
     a{
      text-decoration:none;
     }
      input{
             text-align: center;
             width: 500px;
             height: 40px;
             font-size: 16px;
             padding: 5px;
             border-radius:12px;
             border-color: black;
             box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);

      }
       .submit{
            width: 200px;
            height: 40px;
            background:#6d4aff;
            color:white;
            border:none;
            padding:10px 20px;
            border-radius:12px;
            font-size:16px;
            cursor:pointer;
        }
</style>
{% endblock head%}
{% block content%}

{% block nav %} {{super()}} {% endblock nav %}

<div class="main-container">
<div class="main">
<h1>Log in to your account</h1>
<form action="{{ url_for('log_in') }}" method="POST">
<div id="signing_container">
    <input type="text" name="username" placeholder="User name" required>
    <input type="password" name="password" placeholder="Password" required>
    <input class="submit" type="submit" value="Log in">
    {% if error %}
    <p style="color:red;">{{ error }}</p>
    {%endif%}
    <a href="{{ url_for('sign_up') }}">Don't have an account?</a>
</div>
</form>
</div>
</div>

{% endblock content%}