{% extends "layout.html" %}
{% block head %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/statics.css') }}">
{% endblock head %}
{% block content %}
<div class="content">
    {% block sidebar %} {{ super() }} {% endblock %}
    <div class="statics">
        <div class="statics-container">
            <div class="static-item">
                <span class="stat-title">Total completed tasks</span>
                <h2>{{ statics['Total completed tasks'] }}</h2>
            </div>
            <div class="static-item">
                <span class="stat-title">Completed tasks this week</span>
                <h2>{{ statics['Total completed tasks this week'] }}</h2>
            </div>
            <div class="static-item">
                <span class="stat-title">Average completion time</span>
                <h2>{{ statics['Average completion time in hours'] }}</h2>
            </div>
            <!-- {% if statics['top category'] %} -->
                <div class="static-item">
                    <span class="stat-title">Top category</span>
                    <h2>{{ statics['top category'] | upper() }}</h2>
                </div>
            <!-- {% endif %} -->
            {% if statics['top priority'] %}
                <div class="static-item">
                    <span class="stat-title">Top Priority</span>
                    <h2>{{ statics['top priority'] | upper() }}</h2>
                </div>
            {% endif %}
        </div>
        <div class="charts-container">
            {% for chart in charts %}
                <div class="chart-container">
                    <h2 style="text-align: center;">{{chart.title}}</h2>
                    <canvas id="{{ chart.id }}"></canvas>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<script>
    function createDoughnutChart(canvasId, labels, values, title) {
        const ctx = document.getElementById(canvasId).getContext('2d');

        return new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: labels,
                datasets: [{
                    label: title,
                    data: values,
                    backgroundColor: ['#ff4a5a','#36a2eb','#ffcd56','#4bc0c0','#9966ff','#22c55e','#f97316'],
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'bottom'
                    }
                }
            }
        });
    }
    const charts = {{ charts | tojson }};
    charts.forEach(chart => {createDoughnutChart(chart.id,chart.labels,chart.values,'Completed tasks');});
</script>
{% endblock content %}